.modules-joboffer .offers li{
	margin-bottom: 20px;
}
.modules-joboffer .offer-description{
	margin-bottom: 20px;
}
.modules-joboffer .offer-infos{
	margin-bottom: 20px;
}
.modules-joboffer .offer-infos dd{
	margin: 5px 10px 10px 10px;
}