<ul class="mini-navigation" tal:condition="php: listPage OR spontaneousUrl">
	<li><a tal:condition="listPage" change:link="document listPage">${trans:m.joboffer.frontoffice.view-list,ucf}</a></li>
	<li><a class="link" tal:condition="spontaneousUrl" href="${spontaneousUrl}">${trans:m.joboffer.frontoffice.spontaneous-candidacy,ucf}</a></li>
</ul>

<h1 change:h="">${trans:m.joboffer.frontoffice.submit-candidacy,ucf}</h1>
<dl class="inline-items">
	<dt>${trans:m.joboffer.frontoffice.offer,ucf}</dt>
	<dd><a change:link="document item">${item/getLabelAsHtml}</a></dd>
	<tal:block tal:condition="item/getReference">
		<dt>${trans:m.joboffer.frontoffice.reference,ucf}</dt>
		<dd>${item/getReferenceAsHtml}</dd>
	</tal:block>
</dl>