<ul class="mini-navigation" tal:condition="spontaneousUrl">
	<li><a class="link" href="${spontaneousUrl}" change:translate="modules.joboffer.frontoffice.Spontaneous-candidacy"></a></li>
</ul>

<h1 change:h="">${container/getLabelAsHtml}</h1>
<p tal:condition="not:paginator" class="normal">${trans:m.joboffer.frontoffice.empty-container,ucf}</p>
<tal:block tal:condition="paginator">
	<ol class="document-list">
		<li tal:repeat="item paginator" class="${alternateclass:offerIndex}">
			<h2 change:h="">
				<a change:link="document item">[${item/getOfferType/getLabelAsHtml}] ${item/getLabelAsHtml}</a>
			</h2>
			<p class="normal meta-infos">
				<tal:block tal:condition="item/getStartpublicationdate">${date:item/getUIStartpublicationdate}</tal:block>
				<tal:block tal:condition="not:item/getStartpublicationdate">${date:item/getUICreationdate}</tal:block>
				<tal:block tal:condition="item/getReference"><span class="separator"> - </span>${item/getReferenceAsHtml}</tal:block>
			</p>
			<p class="normal">${item/getShortDescription}</p>
		</li>
	</ol>
	<tal:block change:paginator="paginator" />
</tal:block>