<ul class="mini-navigation" tal:condition="php: listPage OR spontaneousUrl">
	<li><a tal:condition="listPage" change:link="document listPage">${trans:m.joboffer.frontoffice.view-list,ucf}</a></li>
	<li><a class="link" tal:condition="spontaneousUrl" href="${spontaneousUrl}">${trans:m.joboffer.frontoffice.spontaneous-candidacy,ucf}</a></li>
</ul>

<h1 change:h="">[${item/getOfferType/getLabelAsHtml}] ${item/getLabelAsHtml}</h1>
<p class="normal meta-infos">
	<tal:block tal:condition="item/getStartpublicationdate">${date:item/getUIStartpublicationdate}</tal:block>
	<tal:block tal:condition="not:item/getStartpublicationdate">${date:item/getUICreationdate}</tal:block>
	<tal:block tal:condition="item/getReference"><span class="separator"> - </span>${item/getReferenceAsHtml}</tal:block>
</p>
<div class="normal">${item/getDescriptionAsHtml}</div>
<dl class="normal">
	<tal:block tal:condition="item/getEndpublicationdate" tal:omit-tag="">
		<dt>${trans:m.joboffer.frontoffice.deposit-limit,ucf}</dt>
		<dd>${date:item/getUIEndpublicationdate}</dd>
	</tal:block>
	<dt>${trans:m.joboffer.frontoffice.location,ucf}</dt>
	<dd>${item/getLocationAsHtml}</dd>
	<dt>${trans:m.joboffer.frontoffice.background,ucf}</dt>
	<dd>${item/getBackgroundAsHtml}</dd>
	<dt>${trans:m.joboffer.frontoffice.profile,ucf}</dt>
	<dd>${item/getProfileAsHtml}</dd>
</dl>

<a class="link" href="${item/getFormPageUrl}">${trans:m.joboffer.frontoffice.submit-candidacy-for-this-offer,ucf}</a>