<ul class="mini-navigation" tal:condition="php: listPage OR spontaneousUrl">
	<li><a tal:condition="listPage" change:link="document listPage" tal:content="trans:m.joboffer.frontoffice.view-list,ucf"></a></li>
	<li><a class="link" tal:condition="spontaneousUrl" href="${spontaneousUrl}" tal:content="trans:m.joboffer.frontoffice.spontaneous-candidacy,ucf"></a></li>
</ul>

<h2 change:h="" tal:content="trans:m.joboffer.frontoffice.submit-candidacy,ucf"></h2>
<ul class="offer-infos">
	<li>
		<strong tal:content="trans:m.joboffer.frontoffice.offer,ucf,lab"></strong>
		<a change:link="document item">${item/getLabelAsHtml}</a>
	</li>
	<li tal:condition="item/getReference">
		<strong tal:content="trans:m.joboffer.frontoffice.reference,ucf,lab"></strong>
		${item/getReferenceAsHtml}
	</li>
</ul>